<div class="container text-center">
<div class="row">
  <div class="col-8">
@for (minion of minions; track $index) {
    

<div  class="card" style="width: 18rem;">
    <img src=" {{minion.img}} " class="card-img-top" alt="...">
    <div class="card-body">
      
      <a class="nav-link" routerLink="{{minion.id}}"><h5 class="card-title">{{minion.name}}</h5></a>
      <p class="card-text">{{minion.bio}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Año {{minion.birth}}</li>
      <li  *ngIf="minion.side== 'malvado'; else bueno " class="list-group-item">Actitud {{minion.side}} <img src="assets/img/de los malos.PNG"  width="25px" height="25px" alt=""></li>
      <ng-template #bueno>
        <li class="list-group-item">Actitud {{minion.side}} <img src="assets/img/de los buenos.PNG" width="25px" height="25px" alt=""></li>

      </ng-template>
      <li class="list-group-item">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button (click)="deleteMinion(minion.id)" type="button" class="btn btn-danger">Eliminar</button>
          <a class="nav-link" routerLink="/updateMinion/{{minion.id}}"><button type="button" class="btn btn-warning">Modificar</button></a>
        </div>
      </li>
    </ul>
  </div>

}
</div>
<div class="col-4">

  <router-outlet></router-outlet>
</div>
</div>
</div>