
@if (id==null) {
    <h1 class="display-3"> Creción de un minion</h1> }
    
 @else {
    <h1 class="display-3"> Actualización de un minion</h1> }       
<form (ngSubmit)="onSubmit()">

    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Nombre</label>
        <input type="text" [(ngModel)]="newMinion.name" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Bio</label>
        <input type="text" [(ngModel)]="newMinion.bio" name="bio" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Cumpleaños</label>
        <input type="date" [(ngModel)]="newMinion.birth" name="birth" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Actitud</label>
    <select class="form-select" [(ngModel)]="newMinion.side" name="side" aria-label="Default select example">
        <option value="de los buenos">Bueno</option>
        <option value="malvado">Malo</option>
      </select>
    </div>
     @if (id==null) {
        <button class="btn btn-primary" type="submit">Añadir</button>
     }
     @else {
        <button class="btn btn-primary" type="submit">Actualizar</button>
     }       
    
</form>
